body {
    background-color: #a8d0e6;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #fff;
    height: 70px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

main {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

.nav-container {
    width: 90vw;
    height: 100%;
    margin: auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.js-logo {
    color: #374785;
    font-weight: 400;
}

.js-logo span {
    color: #ffbe55;
}

#high-btn {
    background-color: #fff;
    border: 1px solid #f76c6c;
    color: #f76c6c;
    font-size: 0.9rem;
    padding: 7px 10px;
    cursor: pointer;
}

#restart-btn {
    background-color: #f76c6c;
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 20px;
    cursor: pointer;
}

.grid-container {
    width: 80%;
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 100px 100px 100px 100px;
    grid-template-areas:
        "t t"
        "r r"
        "q a1"
        "q a2"
        "q a3"
        "btm a4";
}

.board {
    background-color: #24305e;
    color: #fff;
    width: 80%;
    height: 490px;
    max-width: 960px;
    margin: 30px auto;
    box-shadow: 0 0px 10px 0 rgba(32, 33, 36, 0.28);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.board h1 {
    color: #ffbe55;
    font-size: 4rem;
}

.board h1 span {
    color: white;
}

#start-btn {
    background-color: #fff;
    color: #24305e;
    border-radius: 30px;
    border: none;
    padding: 5px 25px;
    font-size: 1.45rem;
    margin-top: 10px;
    cursor: pointer;
}

.timer-box {
    grid-area: t;
    font-size: 1.5rem;
    color: rgba(48, 62, 119, 0.7);
    text-align: center;
    padding: 8px 0;
}

#bar-container {
    grid-area: r;
    height: 10px;
    background-color: #ededed;
    overflow: hidden;

}

.load-bar {
    height: 100%;
    background-color: #27ae60;
    width: 100%;
}

#question {
    grid-area: q;
    color: #fff;
    background-color: #24305e;
    padding: 20px 20px;
    font-size: 1.25rem;
}

#a {
    grid-area: a1;
}

#b {
    grid-area: a2;
}

#c {
    grid-area: a3;
}

#d {
    grid-area: a4;
}

.awswer-box {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awswer-box:hover {
    background-color: #ffbe55;
    color: #fff;
    cursor: pointer;
}

.btm-left {
    grid-area: btm;
    background-color: #303e77;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.count {
    font-size: 2.5rem;
}

#next-btn {
    background-color: #fff;
    border: 1px solid #f76c6c;
    border-radius: 25px;
    color: #f76c6c;
    font-size: 1.2rem;
    padding: 7px 10px;
    cursor: pointer;
}


@media only screen and (max-width: 720px) {
    .grid-container {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto repeat(5, 70px);
        grid-template-areas:
            "t"
            "r"
            "q"
            "a1"
            "a2"
            "a3"
            "a4"
            "btm";
    }

    #question {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

@media only screen and (max-width: 568px) {
    .nav-container {
        width: 95vw;
        font-size: 1.50rem;
    }

    .start-game {
        width: 95vw;
    }

    .start-game h1 {
        font-size: 3rem;
    }

    #start-btn {
        font-size: 1.1rem;
    }

    #restart-btn,
    #high-btn {
        font-size: 0.75rem;
    }

    .count {
        font-size: 1.5rem;
    }

    #next-btn {
        font-size: 1rem;
    }
}

.hide {
    display: none;
}