body {
    line-height: 1;
    background-color: #a8d0e6;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;
}

.header {
    background-color: #fff;
    height: 70px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

main {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

.nav-container {
    width: 90vw;
    height: 100%;
    margin: auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.js-logo {
    color: #374785;
    font-weight: 400;
}

.nav-container h1 {
    color: #ffbe55;
}

#high-btn {
    background-color: #fff;
    border: 1px solid #f76c6c;
    color: #f76c6c;
    font-size: 0.9rem;
    padding: 7px 10px;
    cursor: pointer;
}

#restart-btn {
    background-color: #f76c6c;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 20px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #fa5656;
    cursor: pointer;
}

.grid-container {
    width: 80%;
    max-width: 960px;
    margin: auto;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 100px 100px 100px 100px;
    grid-template-areas:
        "r r"
        "q a1"
        "q a2"
        "q a3"
        "btm a4";
}

#result {
    grid-area: r;
    color: #374785;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#question {
    grid-area: q;
    color: #fff;
    background-color: #24305e;
    padding: 20px 20px;
    font-size: 1.25rem;
}

#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}

#a3 {
    grid-area: a3;
}

#a4 {
    grid-area: a4;
}

.awswer-box, #result {
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.awswer-box:hover {
    background-color: #ffbe55;
    color: #fff;
}

.btm-left {
    grid-area: btm;
    background-color: #303e77;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.count {
    text-align: center;
}

.c-label {
    font-size: .9rem;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

.c-element {
    font-size: 2rem;
}

#next-btn {
    background-color: #fff;
    border: 1px solid #f76c6c;
    border-radius: 25px;
    color: #f76c6c;
    font-size: 1.2rem;
    padding: 7px 10px;
    cursor: pointer;
}

#next-btn:hover {
    color: #fa5656;
    border: 1px solid #fa5656;
}

@media only screen and (max-width: 720px) {
    .grid-container {
        width: 90%;
        margin: 30px auto;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto repeat(5, 70px);
        grid-template-areas:
            "r"
            "q"
            "a1"
            "a2"
            "a3"
            "a4"
            "btm";
    }

    #question {
       display: grid;
       justify-content: center;
       align-items: center;
       padding: 10px;
    }
}

@media only screen and (max-width: 520px) {

    .nav-container {
        width: 95vw;
    }

    .nav-container {
        font-size: 1.50rem;
    }

    #restart-btn, #high-btn {
        font-size: 0.75rem;
    }

    .c-label {
        font-size: .6rem;
        margin-bottom: 4px;
    }
    
    .c-element {
        font-size: 1.1rem;
    }
    #next-btn {
        font-size: 1rem;
    }
}